.card-img {
  position: relative; /* Set the container to relative positioning */
  width: 100px;
  height: 120px;
  overflow: hidden;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
}

.card-img img {
  max-width: 100%;
  max-height: 100%;
}

.ride-deck {
  position: absolute; /* Set the text to absolute positioning */
  top: 45px;
  left: 12px;
  z-index: 1;
  color: rgb(186, 223, 245);
  border: 1px solid white;
  background-color: rgb(56, 43, 43);
  width: 70px;
  padding: 2px; /* Add some padding to the text */
}
.num-in-deck {
  position: absolute; /* Set the text to absolute positioning */
  top: 75px;
  left: 38px;
  z-index: 1;
  color: rgb(244, 196, 196);
  border: 1px solid white;
  background-color: rgb(39, 51, 62);
  width: 20px;
  padding: 4px; /* Add some padding to the text */
}

.preview-image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 250px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  text-align: left; /* Align text to the left */
}

.preview-image img {
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
}

.ride-display{
  display: inline-block;
  margin: 5px;
}
.trigger-display{
  display: inline-block;
  margin: 0px;
}
.main-display{
  display: inline-block;
  margin: 0px;
}
